<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Student Management</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>CNIE</th>
                <th>Course</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.firstname}"></td>
                <td th:text="${student.lastname}"></td>
                <td th:text="${student.cnie}"></td>
                <td th:text="${student.course}"></td>
                 <td>
                 <a th:href="@{/update(cnie=${student.cnie})}">Update</a>
                 
                   
                </td>
            </tr>
        </tbody>
    </table>

   
   <div class="button-container">
        <form  th:action="@{/insert}" method="get">
            <button type="submit">Insert</button>
        </form>
        <form th:action="@{/delete}" method="get">
            <button type="submit">Delete</button>
        </form>
    </div>

</body>
</html>
